@import url('./header.css');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --black: #000000;
    --nav: #f1f1f1;
    --white: #ffffff;
    --bg: #777777;
    --gray: #cecece;
    --red: #f40000;
    --darkgray: #5b5b5b;
}



.carousel {
    position: relative;
    height: 50%;
}
.notice {
    text-align: center;
    height: 3rem;
    background: black;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 0.5rem;
}
.tshirt-section-img {
    width: 100%;
}
.main-section-product {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.img-1 {
    background-image: url(./img/shirt1.jpg);
}
.img-1:hover {
    background-image: url(./img/shirt1b.jpg);
}
.img-2 {
    background-image: url(./img/shirt2.jpg);
}
.img-2:hover {
    background-image: url(./img/shirt2b.jpg);
}
.img-3 {
    background-image: url(./img/shirt3.jpg);
}
.img-3:hover {
    background-image: url(./img/shirt3b.jpg);
}
.img-4 {
    background-image: url(./img/shirt4.jpg);
}
.img-4:hover {
    background-image: url(./img/shirt4b.jpg);
}
.img-5 {
    background-image: url(./img/outwear1.jpg);
}
.img-5:hover {
    background-image: url(./img/outwear1b.jpg);
}
.img-6 {
    background-image: url(./img/shirt4.jpg);
}
.img-6:hover {
    background-image: url(./img/shirt4b.jpg);
}
.img-7 {
    background-image: url(./img/outwear3.jpg);
}
.img-7:hover {
    background-image: url(./img/outwear3b.jpg);
}
.img-8 {
    background-image: url(./img/outwear4a.jpg);
}
.img-8:hover {
    background-image: url(./img/outwear4b.jpg);
}
.img-9 {
    background-image: url(./img/shirt4.jpg);
}
.img-9:hover {
    background-image: url(./img/shirt4b.jpg);
}
.img-10 {
    background-image: url(./img/bot1.jpg);
}
.img-10:hover {
    background-image: url(./img/bot1b.jpg);
}
.img-11 {
    background-image: url(./img/bot2.jpg);
}
.img-11:hover {
    background-image: url(./img/bot2b.jpg);
}
.img-12 {
    background-image: url(./img/bot3.jpg);
}
.img-12:hover {
    background-image: url(./img/bot3b.jpg);
}
.img-13 {
    background-image: url(./img/shirt4.jpg);
}
.img-13:hover {
    background-image: url(./img/shirt4b.jpg);
}
.img-14 {
    background-image: url(./img/acc2.jpg);
}
.img-14:hover {
    background-image: url(./img/acc2b.jpg);
}
.img-15 {
    background-image: url(./img/acc3.jpg);
}
.img-15:hover {
    background-image: url(./img/acc3b.jpg);
}
.img-16 {
    background-image: url(./img/acc4.jpg);
}
.img-16:hover {
    background-image: url(./img/acc4b.jpg);
}
.shirt-img {
    width: 13rem;
    height: 15rem;
    background-size: contain;
    margin-top: 2rem;
    background-repeat: no-repeat;
    transition: all 0.2s;
}
.product-sale {
    position: relative;
}
.sale-box {
    color: var(--white);
    background-color: var(--red);
    padding: 3px 15px;
    position: absolute;
    top: 15px;
    left: 0;;
}
.products > div > a {
    font-size: 0.8rem;
    font-weight: 500;
}
.products > div > p {
    color: #f40000;
    font-weight: 500;
    font-size: 0.9rem;
}
.sale-percent {
    background-color: tomato;
    border: 1px solid white;
    border-radius: 5px;
    color: var(--white);
    padding: 1px 6px;
}
.sale-price {
    color: #f40000;
    font-weight: 500;
    font-size: 0.9rem;
}
.delete-price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    color: var(--darkgray);
    padding-left: 5px;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  height: 3rem;
  min-width: 0;
  margin: 1rem auto 2rem;
  outline: none;
  padding: 0;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 90%;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
@media (max-width: 577px) {
    .button-28 {
        margin: 1rem 2rem 2rem 2rem;
        height: 2rem;

    }
}
.gift-package-service > img {
    width: 100%;
}
.foot-img {
    display: block;
    margin: 0 auto;
    width: 96%;
}
.service {
    display: block;
    margin: 0 auto;
    width: 100%; 
}
.introduction {
    background-color: var(--gray);
    text-align: left;
}
.introduction-container {
    padding: 2rem 12rem 1rem;
}
@media (max-width: 577px) {
    .introduction-container {
        padding: 0rem 5rem 1rem;

    }
}
.introduction-title {
    color: tomato;
    font-size: 1rem;
    font-weight: 600;
}
.introduction p {
    color: var(--bg);
    font-size: 0.9rem;
    padding-top: 1rem;
    font-weight: 400;
}

.footer-menu {
    display: flex;
    color: white;
    font-size: 0.7rem;
    background-color: var(--black);
    justify-content: center;
}
.footer-menu h6 {
    color: tomato;
    font-size: 0.9rem;
}
.foot-menu-logo {
    padding: 3rem 2rem 0 5rem;
}
.footer-menu a {
    text-decoration: none;
    color: white;
}
.foot-menu-logo {
    width: 25%;
}
.foot-menu-logo img {
    height: 2rem;
}
.footer-chinh-sach {
    padding: 3rem 3rem 0 2rem;
}
.footer-chinh-sach a {
    display: block;
    line-height: 1.5rem;
}
.footer-chinh-sach-item {
    padding: 1rem;
}
.footer-huong-dan {
    width: 25%;
    padding: 3rem 1rem 0;
}
.footer-huong-dan a {
    display: block;
    line-height: 1.5rem
}
.footer-huong-dan-item {
    padding: 1rem;
}
.footer-cong-dong {
    padding: 3rem 3rem 0 5rem;
}
.social-media {
    display: flex;
}
.social-media a {
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    padding-right: 1rem;
}
.footer-cong-dong img {
    padding-top: 1rem;
    width: 60%;
}
.footer-address {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 1rem;
}
.footer-address p {
    margin: 0;
    color: var(--bg);
}
.footer-copyright {
    background-color: var(--darkgray);
    color: var(--white);
    padding-top: 0.6rem;
    padding-left: 0.8rem;
    height: 2.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}
@media (max-width: 577px) {
.foot-menu-logo {
        padding: 2rem 0 0 1rem;
}
.footer-chinh-sach {
        padding: 2rem 0 0 0;
}
.footer-chinh-sach-item {
        padding: 1rem;
}
.footer-cong-dong {
    padding: 2rem 1rem ;
    width: 25%;
}
.footer-huong-dan {
    padding: 2rem 1rem 0 0;
}
.foot-menu-info {
    margin: 0;
}
.foot-menu-info > p {
    padding: 0;
}
#footer-logo {
    height: 1rem;
}
}